{% extends "base.html" %}
{% block title %}Admin review - {{ bank_name }}{% endblock %}
{% block content %}
  <h1>Administrator &mdash; transfer review</h1>
  <p>Signed in as administrator. Session cookie: <code>{{ admin_cookie }}</code></p>
  <table>
    <tr><th>#</th><th>Counterparty</th><th>Amount</th><th>Note</th></tr>
    {% for r in rows %}
      <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.counterparty }}</td>
        <td>{{ r.amount }}</td>
        <td>{% with note = r.note %}{% include "_admin_note.html" %}{% endwith %}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
