{% extends "base.html" %}
{% block title %}Admin kontrola - {{ bank_name }}{% endblock %}
{% block content %}
  <h1>Administrator - kontrola prevodov</h1>
  <p>Prihlaseny ako administrator. Cookie relacie: <code>{{ admin_cookie }}</code></p>
  <table>
    <tr><th>#</th><th>Protistrana</th><th>Suma</th><th>Poznamka</th></tr>
    {% for r in rows %}
      <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.counterparty }}</td>
        <td>{{ r.amount }}</td>
        <td>{{ r.note | safe }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
