{% extends "base.html" %}
{% block title %}Vyhladavanie - {{ bank_name }}{% endblock %}
{% block content %}
  <h1>Vyhladavanie na stranke</h1>
  <form method="get">
    <input name="q" value="{{ q }}" size="40" placeholder="hladany vyraz">
    <button type="submit">Hladat</button>
  </form>
  {% if q %}
    <p>Vysledky pre: {{ q }}</p>{# FIX W1-04: escape the reflected value #}
  {% endif %}
  {% if flag %}
    <p class="flag">Vlajka W1-04: <code>{{ flag }}</code></p>
  {% endif %}
{% endblock %}
